<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="icon" href="../static/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@100&family=Sacramento&display=swap" rel="stylesheet">
    <title>pebkaccccc</title>
</head>
<body>
    <div class="top-container">
        <img class="top-cloud" src="../static/cloud.png" alt="bg">
        <h1>I'm Manthan</h1>
        <h2 class="wut">Someone who Loves Data-Science :)</h2>
        <img class="bottom-cloud" src="../static/cloud.png" alt="clouds">
        <img class="mountain" src="../static/mountain.png" alt="mountain">
    </div>
    <div class="middle-container">
        <div class="profile">
            <br>
          <img class="my-img" src="../static/eh.jpg" alt="">
          <h2>Hello.</h2>
          <p>I am a 3rd Year Computer Engineering undergrad who's mainly interested in Data Science🐍 and currently exploring Web Development</p>
        </div>
        <hr>
        <div class="skills">
          <h2>My Skills.</h2>
          <div class="skill-row">
            <img class="python" src="https://cdn-icons-png.flaticon.com/512/1822/1822899.png" alt="python">
            <h3>Python</h3>
            <p>I am pretty much interested in data science, Machine learning and Deep learning so I am familiar with python and it's libraries very much and I love using Python as well! 🐍</p>
          </div>
          <div class="skill-row">
            <img class="java" src="https://cdn-icons-png.flaticon.com/512/5968/5968282.png" alt="java">
            <h3 class="the-java">Java</h3>
            <p>Java is the programming language I love typing and understanding! I use java mostly for CP and understanding OOP Concepts!</p>
          </div>
          <div class="skill-row">
            <img class="machine-learning" src="https://cdn-icons.flaticon.com/png/512/2821/premium/2821637.png?token=exp=1642874773~hmac=7b7c5d53d17314447018ba156c4a631a" alt="ml">
            <h3>Machine Learning and Deep Learning</h3>
            <p>I love making prediction models using machine learning and deep learning and I love wroking with Neural Networks as well</p>
          </div>
        </div>
        <hr>
        <div class="contact-me">
          <h2>Get In Touch</h2>
          <h3>If you love data science as well! Feel free to drop a hello to me!</h3>
          <p>And if you love data science and java we could make some model together and work as a team! Gracias!!</p>
          <!-- <p>Mail me</p> -->
          <a class="btn" href="mvbosamiya20@gmail.com">Contact Me!</a>
        </div>
      </div>
      <br>
      <div class="bottom-container">
        <a class="footer-link" href="https://www.linkedin.com/in/manthan-bosamiya-050303213/"><img class="linkedin" src="https://cdn-icons.flaticon.com/png/512/3536/premium/3536505.png?token=exp=1642874692~hmac=09f930615dbac554f27a4ab1285c0949" alt="linkedin"></a>
        &nbsp;
        <a class="footer-link" href="https://twitter.com/damnitmanthan"><img class="twitter" src="https://cdn-icons-png.flaticon.com/512/1409/1409937.png" alt="twitter"></a>
        &nbsp;
        <a class="footer-link" href="https://www.instagram.com/pebkac_/"><img class="instagram" src="https://cdn-icons-png.flaticon.com/512/174/174855.png" alt="ig"></a>
        &nbsp;
        <a class="footer-link" href="https://github.com/manthanoice/"><img class="github" src="https://cdn-icons-png.flaticon.com/512/25/25657.png" alt="github"></a>
        <p>©pebkac_</p>
      </div>
</body>
</html>