.top-container{
    position: relative;
    background-color: #E3FDFD;
    padding-top: 120px;
}

body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: #CBF1F5;
}

h1{
    margin-top: 0px;
    font-family: 'Sacramento', cursive;
}

h2{
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-family: 'Montserrat', sans-serif;
}

/* .mountain{
    transition: transform .5s;
}

.mountain:hover{
    transform: scale(0.9);
} */

.bottom-cloud{
    transition: transform .5s;
    position: absolute;
    left: 350px;
    bottom: 300px;
}

.bottom-cloud:hover{
    transform: scale(1.5);
}

.top-cloud{
    transition: transform .5s;
    position: absolute;
    right: 350px;
    top: 50px;
}

.top-cloud:hover{
    transform: scale(1.5);
}

.my-img{
    transition: transform .5s;
    height: 200px;
    border-radius: 50%;
}

.python{
    height: 200px;
    transition: transform .5s;
}

.java{
    height: 200px;
    transition: transform .5s;
}

.machine-learning{
    height: 200px;
    transition: transform .5s;
}

.python:hover{
    transform: scale(0.7);
}

.java:hover{
    transform: scale(0.7);
}

.machine-learning:hover{
    transform: scale(0.7);
}

.linkedin{
    transition: transform .5s;
    height: 50px;
}

.twitter{
    transition: transform .5s;
    height: 50px;
}

.instagram{
    transition: transform .5s;
    height: 50px;
}

.github{
    transition: transform .5s;
    height: 50px;
}

.instagram:hover{
    transform: scale(1.2);
}
.twitter:hover{
    transform: scale(1.2);
}
.github:hover{
    transform: scale(1.2);
}
.linkedin:hover{
    transform: scale(1.2);
}