<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pebkac's Blog</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Sample Post</a></li>
            <li><a href="">Contact me</a></li>
        </ul>
    </nav>
    <h1>Clean Blog</h1>
    <p>A blog theme by Bootstrap</p>
    {%for i in range(the_num)%}
    <div class="content">
        <div class="card">
            <h2>{{blog_post[i]['title']}}</h2>
            <p class="text">{{blog_post[i]['subtitle']}}</p>
            <a href="{{url_for('the_body', num=i)}}">Read</a>
        </div>
    </div>
    {%endfor%}
</body>
</html>