<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hey there {{the_name.title()}}</title>
</head>
<body>
    <h2>
        Your name is {{the_name.title()}}.
        <br><br>
        Your age probably would be somewhere around {{the_age}}?
        <br><br>
        Your gender is {{the_gender}}.
        <br><br>
        Was it good?
    </h2>
</body>
</html>